* {
    box-sizing: border-box;
}

.card {
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgreen;
    
    box-sizing: border-box; 

}
