.box-content {
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    background-color: lightblue;
    /* box-sizing: content-box; (デフォルト) */
}

.box-border {
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    background-color: lightgreen;
    box-sizing: border-box; 
    /* paddingとborderを含めて300px */
}
