@charset "UTF-8";

/* 
Base Style
*/
body {
    .noto-sans-jp-<uniquifier> {
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-size: 15px;
        line-height: 1.5;
        color: #333;

    }
}

.label,
.input,
.textarea,
.select,
.button {
    cursor: pointer;
}

.button {
    border: 0;
}


/* grid */
/* skills */
.grid {

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.grid-item {
    list-style: none;
    padding-left: 15px;
    border: 3px solid black;
    height: 250px;
    border-radius: 10px;


}

.grid-col-2>.grid-item {
    width: 50%;

}

.grid-col-3>.grid-item {
    width: 33%;

}

.grid-col-4>.grid-item {
    width: 25%;

}


.skill-header {
    text-align: center;
    font-size: 25px;
}

.skill-card {
    cursor: pointer;
}

.skill-detail {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.skill-card.is-open .skill-detail {

    max-height: 400px;
}



@media screen and (max-width: 768px) {
    .grid {
        display: block;

    }

    .grid-col-2>.grid-item,
    .grid-col-3>.grid-item,
    .grid-col-4>.grid-item {
        width: 100%;
        margin: 20px;
    }
}

/* section */
.section {
    padding: 30px 15px;
}

.section.section-secounday {
    background-color: #efefef;
}

.section.section-third {
    background-color: #EEFFFF;
    ;
}

.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0;
}

.section-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.btn-count {
    margin-top: 12px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 20px 10px;
    }

    .section-headline {
        font-size: 30px;
        margin: 0 0 20px
    }

    .section-button {
        margin: 20px 0 0;
    }
}


/* header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    z-index: 10;
    top: 0;
}

.header-logo {
    margin: 0;
}

.header-logo>a {
    display: block;
    color: transparent;

}

.header-nav .header-navlist {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navitem {}

.header-navitem>a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px transparent;
    transition: border-color .25s;
}

.header-navitem>a:hover {
    border-bottom: 2px solid #333;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 12px;
    }
}

/* hero */
.hero {

    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero>strong {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}

.hero>video {
    position: absolute;
    width: auto;
    height: 105%;
    z-index: 1;
}

.hero-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

}

@media screen and (max-width: 768px) {
    .hero>strong {
        font-size: 50px;
    }
}

/* introduction */
.about {
    margin: 0;
    display: flex;

}

/* .about-image {} */
.about-caption {
    padding-left: 15px;
    margin-left: 100px;
}

.about-headline {
    margin: 0 0 20px;
    font-size: 40px;
}

.about-description {
    font-size: 25px;

}

@media screen and (max-width: 768px) {
    .about {
        display: block;
    }

    .about-image {
        max-width: 100%;
        margin-bottom: 20px;
    }

    /* .about-caption {
        padding-left: 15px;
    } */
    .about-headline {
        text-align: center;
        font-size: 35px;
    }
}


/* button */
.button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background-color: black;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #bbb;
    transition: box-shadow .25s;
}

.button:hover {
    box-shadow: 0 0 0 #bbb;
}

.button.button-sabmission {
    background-color: #92d3ca;
}

.select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}

.input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}

.radio {
    margin: 0 10px;
}

.textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
    min-height: 100px;
}

@media screen and (max-width: 768px) {

    .select,
    .input,
    .textarea {
        min-width: auto;
        width: 100%;
    }

}



/* form */
/* .form */
.form-table {
    margin: 0 auto;
}

.form-table th {
    padding: 10px;
    text-align: left;
}

.form-table td {
    padding: 10px;
}

.form-button {
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .form-table,
    .form-table tbody,
    .form-table th,
    .form-table td,
    .form-button {
        display: block;

    }
}


/* footer */
.footer {
    background-color: #333;
    color: #fff;

}

.footer-map {
    margin: 0;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-map>iframe {
    width: 60%;
}

.footer-mapinfo {
    width: 40%;
    padding: 15px;
}

.footer-maplogo {
    font-size: 23px;
    font-weight: bold;
    margin-right: 10px;

}

.footer-maplogo2 {
    color: transparent;
}

.footer-mapassres {
    font-style: normal;
}

.footer-mapassres>a {
    color: #fff;


}

.footer-line {
    border-color: #444;
}

.footer-copy {
    display: block;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .footer-map {
        padding: 15px;
        display: block;
    }

    .footer-map>iframe {
        width: 100%;
        height: 200px;
    }

    .footer-mapinfo {
        width: 100%;
        text-align: center;
    }


}
